*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

main{
  display: flex;
  height: 100vh;
  width: 100vw;
}

body, html{
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.form-container h1{
    padding: 5%;
    font-size: 45px;
}

.form-container{
    background: black;
    color: white;
    height: 100vh;
    text-align: center;
    flex: 0 0 45%;

}

.form-container .form{
    margin: 5% auto;
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: left;
}

.form-container label{
    margin-bottom: 10px;
    font-size: small;
}

.form-container a{
    text-align: right;
    color: rgba(255, 255, 255, 0.685);
    text-decoration: underline;
    font-size: small;
    text-align: left;
}

.form-container a:hover{
    color: rgb(51, 60, 146);
    text-decoration: underline;
}

.form input{
    padding: 20px;
    background-color: rgb(37, 37, 37);
    border: 2px solid;
    border-image: linear-gradient(90deg, rgb(133, 120, 2) 0%, rgb(121, 59, 9) 35%, rgb(143, 81, 0) 100%) 1;
    color: transparent;
}

.form label{
    margin-top: 20px;
}


.right-side {
    flex: 0 0 55%;
  position: relative;
  background-image: url('../assets/gif/backgroud_video.gif');
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.right-side .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.form-container button:hover{
    background-color: rgb(94, 93, 93);
    cursor: pointer;
    color: black;

}

.form-container button{
    background-color: rgb(223, 124, 31);
    color: white;
    margin-top: 14%;
    padding: 20px;
    font-size: larger;
    border: none;
    border-radius: 3%;
}

.form-container #id_botao{
    margin-top: 3%;
    text-align: center;
}
